@primary__color: #000;
@secondary__color: #dfa34a;
@color-gray-border: #ccc;
@color-gray-light: #bdbdbd;
@color-shadow-light: #ececec;
@color-white: #fff;
@screen__ml: 993px;

& when (@media-common = true) {
    .daily-deals-section {
        .daily-deals-inner {
            align-items: center;
            margin: 0 auto;
            max-width: 1280px;
            padding: 30px 0;
            .daily-deals-title {
                font-size: 28px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 10px;
                margin-top: 0;
                text-align: center;
                width: 100%;
                .page-title-wrapper {
                    margin-bottom: 20px;
                }
                b {
                    color: @secondary__color;
                    text-transform: capitalize;
                }
            }
            .sale-body {
                width: 25%;
                @media (max-width: 1199px) {
                    width: 30%;
                }
                .product-name {
                    span {
                        font-size: 22px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
                .product-price {
                    span {
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: .5px;
                        line-height: 16px;
                    }
                    span.regular-price {
                        color: @color-gray-light;
                        padding: 0 5px;
                        text-decoration: line-through;
                    }
                }
            }
            div[id='countdown'] {
                display: flex;
                padding: 0 0 0 50px;
                width: 75%;
                @media (max-width: 1199px) {
                    padding: 0 0 0 40px;
                    width: 70%;
                }
                .counter {
                    align-items: center;
                    display: flex;
                    width: 100%;
                    .counter-timer {
                        background: @secondary__color;
                        border-radius: 5px;
                        box-shadow: 1px 4px 7px 2px @color-gray-border;
                        margin: 0 8px;
                        padding: 7px 0;
                        text-align: center;
                        width: 25%;
                        p.number {
                            font-size: 36px;
                            font-weight: 700;
                            letter-spacing: 0;
                            margin-bottom: 0;
                        }
                        p {
                            color: @color-white;
                            font-size: 17px;
                            font-weight: 300;
                            letter-spacing: 1px;
                            margin: 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .daily-deals-right {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                width: 75%;
                .product-price {
                    margin-bottom: 10px;
                    margin-top: 7px;
                }
            }
            .daily-deals-left {
                width: 25%;
                img {
                    display: block;
                    margin: 0 0 0 auto;
                    max-width: 201px;
                    width: 100%;
                    @media (max-width: 1500px) {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .daily-deals-section.exipary {
        display: none;
    }
    //  Sticky
    .daily-deals-section.stick {
        background: @secondary__color;
        bottom: 0;
        box-shadow: 0 0 4px 2px @color-shadow-light;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .daily-deals-section.stick .daily-deals-inner {
        background: @secondary__color;
        padding: 7px 0;
    }

    .daily-deals-section.stick .daily-deals-inner .daily-deals-title {
        display: none;
        transition-delay: .08s;
        visibility: hidden;
    }

    .daily-deals-section.stick .daily-deals-inner .daily-deals-left img {
        background: @color-white;
        max-width: 70px;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-left {
        width: 15%;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right {
        box-sizing: border-box;
        padding-left: 20px;
        width: 85%;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] {
        padding-left: 20px;
        width: 45%;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body .product-name {
        color: @color-white;
        margin-bottom: 6px;
        width: 100%;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body .product-price {
        padding-right: 12px;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body .sale-footer button {
        background: @primary__color;
        border-color: @primary__color;
        height: 32px;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer p.number {
        font-size: 20px;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer p.text {
        font-size: 12px;
    }
    .stick.daily-deals-section .daily-deals-inner .sale-body .product-price span.regular-price {
        color: @color-white;
    }
    .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer {
        background: @primary__color;
        box-shadow: none;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ml) {
    body {
        .daily-deals-section .daily-deals-inner .daily-deals-right {
            flex-wrap: wrap;
            .sale-body {
                align-items: center;
                display: flex;
                margin-bottom: 15px;
                width: 100%;
            }
        }
        .daily-deals-section .daily-deals-inner div[id='countdown'] {
            padding: 0;
            .counter {
                .counter-timer {
                    margin: 0;
                    margin-right: 14px;
                    p.number {
                        font-size: 24px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .daily-deals-section .daily-deals-inner .daily-deals-right .product-price {
            margin-bottom: 0;
            margin-top: 0;
            padding: 0 17px;
        }
    }
    body .daily-deals-section.stick .daily-deals-inner .daily-deals-right {
        flex-wrap: nowrap;
    }
    body .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] {
        width: 76%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        .daily-deals-section .daily-deals-inner {
            justify-content: center;
        }
        .daily-deals-section .daily-deals-inner div[id='countdown'] {
            width: 100%;
        }
        .daily-deals-section .daily-deals-inner .daily-deals-left {
            width: 50%;
        }
        .daily-deals-section .daily-deals-inner .daily-deals-right {
            padding: 0 0 0 15px;
            width: 100%;
        }
        .daily-deals-section .daily-deals-inner .sale-body {
            flex-wrap: wrap;
            .product-name {
                margin-bottom: 10px;
                width: 100%;
            }
        }
        .daily-deals-section .daily-deals-inner .daily-deals-right .product-price {
            padding: 0 17px 0 0;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-left {
            display: none;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right {
            padding-left: 0;
            width: 100%;
        }
        .stick.daily-deals-section .daily-deals-inner .sale-body .product-price span.regular-price {
            display: none;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body {
            margin-bottom: 0;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer {
            margin: 0 6px 0 0;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer p.number {
            font-size: 14px;
        }
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right div[id='countdown'] .counter .counter-timer p.text {
            font-size: 10px;
        }
        .stick.daily-deals-section .daily-deals-inner .sale-body .product-name span,
        .stick.daily-deals-section .daily-deals-inner .daily-deals-right .sale-body .sale-footer button {
            font-size: 15px;
        }
    }
}
@media (max-width: 374px) {
    body .daily-deals-section.stick {
        display: none;
    }
}
