//  /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@import 'fields/_file-uploader.less';

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-onepage-success .page-main {
        margin-top: 20px;
    }
    .checkout-index-index {
        .modal-popup .modal-footer .action-hide-popup {
            border: 1px solid @color-xececec;
            border-radius: 4px;
            height: 48px;
            line-height: 48px;
            margin-top: 0;
            padding: 0 15px;
            text-align: center;
        }
        .modal-popup .modal-content {
            padding: 20px;
        }
        .modal-footer {
            padding: 20px;
        }
        .checkout-payment-method .billing-address-same-as-shipping-block {
            display: flex;
        }
        .checkout-payment-method .checkout-billing-address input[type='checkbox'] {
            margin-top: 0;
            min-width: 20px;
            top: 0;
        }
    }
    body.checkout-index-index {
        .form.form-discount input {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            height: 48px;
            line-height: 48px;
        }
        .checkout-payment-method .form-discount .actions-toolbar .primary .action,
        .form.form-discount .primary {
            box-shadow: none;
            height: 48px;
            line-height: 48px;
            margin: 0;
        }
        .checkout-payment-method .payment-option-inner {
            margin: 0;
        }
        .checkout-payment-method .form-discount .actions-toolbar .primary .action {
            box-shadow: none !important;
            padding-top: 0;
        }
        .checkout-payment-method .payment-option-content {
            padding-bottom: 0;
        }
        .checkout-payment-method .checkout-billing-address .primary .action-update {
            margin-bottom: 0;
        }
        .opc-sidebar {
            width: 100%;
        }
        .opc-block-summary {
            margin-bottom: 0;
            padding: 20px;
        }
        #checkout-payment-method-load {
            .primary {
                float: none;
                text-align: left;
                width: 100%;
                .action.checkout {
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .checkout-payment-method {
            margin-bottom: 20px;
            .billing-address-form {
                max-width: 100%;
            }
        }
        .checkout-billing-address .action-update {
            float: none;
        }
        .opc-wrapper {
            margin-top: 40px;
            padding-right: 0;
            width: 100%;
            .step-title {
                margin-top: 10px;
            }
            .form-login {
                border-bottom: 0;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
            @media(max-width: 767px) {
                margin-top: 20px;
            }
        }
        .form.payments hr {
            display: none;
        }
        #customer-email-fieldset {
            margin-bottom: 0;
        }
        .payment-option {
            .payment-option-title,
            .payment-option-content {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
        .payment-methods .payment-method {
            margin-left: 0;
            padding-left: 20px;
            padding-right: 20px;
        }
        .checkout-payment-method .payment-method-content {
            padding-left: 0;
        }
        #opc-shipping_method {
            margin-bottom: 20px;
        }
        #checkout-step-shipping,
        #checkout-step-shipping_method,
        form.form-login {
            padding-left: 20px;
            padding-right: 20px;
        }
        #opc-sidebar {
            border: .5px solid @color-gray95;
            box-shadow: ~'0 3px 6px rgb(0,0,0,.16)';
            box-sizing: border-box;
            float: left;
            margin-left: auto;
            width: 48%;
            .opc-block-summary {
                background-color: @color-white;
            }
            @media(max-width: 767px) {
                width: 100%;
            }
        }
        ol#checkoutSteps {
            li {
                background-color: @color-white;
                border: .5px solid @color-gray95;
                box-shadow: ~'0 3px 6px rgb(0,0,0,.16)';
                box-sizing: border-box;
                width: 48%;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
            li.checkout-shipping-address {
                margin-right: 4%;
                @media(max-width: 767px) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
            li.checkout-shipping-method,
            li.checkout-payment-method,
            #opc-sidebar {
                margin-left: auto;
                margin-right: 0;
            }
            li.product-item {
                border: 0;
                box-shadow: none;
                margin-right: 0;
                width: 100%;
            }
        }
        .qty-box {
            align-items: center;
            background: @color-white;
            border: 1px solid @color-xececec;
            border-radius: 4px;
            color: @color-black;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            width: fit-content;
            input {
                appearance: textfield;
                border-bottom: 0;
                border-radius: 0;
                border-top: 0;
                height: 40px;
                line-height: 40px;
                padding: 0;
                text-align: center;
                width: 50px;
            }
            .qty-plus,
            .qty-minus {
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                height: 40px;
                line-height: 40px;
                text-align: center;
                user-select: none;
                width: 30px;
            }
        }
        .checkout-payment-method {
            .payment-option-title {
                padding-left: 0;
                padding-right: 0;
            }
            .payment-option-content {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .details-qty .action-box {
            display: block;
            margin-top: 10px;
            button {
                border-radius: 4px;
                height: 40px;
                line-height: 40px;
                text-transform: capitalize;
            }
        }
    }
    body.checkout-index-index._has-modal-custom {
        .page-header .header.content .logo {
            z-index: 99;
        }
    }
    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
        select {
            border: 1px solid @color-xececec;
            height: 48px;
            line-height: 48px;
            padding: 0 25px 0 10px;
        }
        .action-auth-toggle {
            color: @primary__color;
            &:before {
                display: none;
            }
            &:hover {
                color: @SecondaryColor;
            }
        }
        .authentication-wrapper {
            display: flex;
            float: none;
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 0;
            max-width: 100%;
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            border: 0;
            display: block;
            font-size: 32px;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 40px;
            margin-top: 50px;
            padding-bottom: 10px;
            position: relative;
            text-align: center;
            &:before,
            &:after {
                content: '';
                left: 50%;
                position: absolute;
                transform: translate(-50%, 0%);
            }
            &:before {
                background: @SecondaryColor;
                border-radius: 6px;
                bottom: -1px;
                height: 4px;
                width: 105px;
                z-index: 9;
            }
            &:after {
                background: @color-black;
                bottom: 0;
                height: 1px;
                width: 66%;
            }
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }

    .abs-discount-code {
        .form-discount {
            display: table;
            width: 100%;

            .actions-toolbar {
                display: table-cell;
                vertical-align: top;
                width: 1%;

                .primary {
                    float: left;
                    .action {
                        &:extend(.abs-revert-to-action-secondary all);
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        margin: 0 0 0 -2px;
                        white-space: nowrap;
                        width: auto;
                    }
                }
            }

            > .field {
                > .label {
                    display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .checkout-index-index {
        .authentication-wrapper {
            width: 50%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-wrapper {
        .step-title {
            font-size: 24px;
            margin-top: 40px;
        }
    }
    body.checkout-index-index .checkout-payment-method .payment-option {
        margin: 0;
    }
    body.checkout-index-index .checkout-payment-method .payment-methods {
        margin: 0;
    }
    .checkout-index-index {
        .modal-popup .modal-footer .action-hide-popup {
            width: 100%;
        }
        .checkout-payment-method .payment-option-content .form-discount .actions-toolbar {
            display: block;
            margin-top: 10px;
            width: 100%;
        }
        .checkout-payment-method .payment-option-content .form-discount {
            max-width: 100%;
        }
        .checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary,
        .checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action {
            width: 100%;
        }
        .checkout-payment-method .payment-method._active .payment-method-content {
            padding-right: 0;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 23px 0 0;
        }
    }
}
