<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="team_listing_data_source" xsi:type="string">Forever\Team\Model\ResourceModel\Team\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Forever\Team\Model\ResourceModel\Team\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">forever_team</argument>
            <argument name="resourceModel" xsi:type="string">Forever\Team\Model\ResourceModel\Team\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Forever\Team\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">team/image/tmp</argument>
            <argument name="basePath" xsi:type="string">team/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </type>
</config>
