@primary__color: #000;
@secondary__color: #dfa34a;
@tertiary__color: #fff;
@border__color: #ececec;
@screen__m: 768px;
@screen__ml: 993px;
@screen__l: 1025px;
@color-gray: #707070;
@color-gray-light: #868686;
@color-tag-border: #e5e5e5;

& when (@media-common = true) {
    .blog-title.page-title-wrapper {
        width: 100%;
    }
    .blog-tag-view .sidebar-additional .block-reorder,
    .blog-index-index .sidebar-additional .block-reorder,
    .blog-index-view .sidebar-additional .block-reorder {
        margin-top: 0;
        .product-item-name {
            align-items: center;
            display: flex;
            padding-left: 10px;
        }
        .actions-toolbar {
            align-items: center;
            display: flex;
        }
    }
    .toolbar {
        .pages {
            .action {
                background: transparent;
                box-shadow: none;
                &:hover {
                    background: @primary__color;
                    &:before {
                        color: @tertiary__color;
                    }
                }
            }
            .item,
            .item strong,
            .item a {
                background: transparent;
                color: @color-gray;
                font-size: 15px;
            }
            .item a:hover {
                color: @color-gray;
            }
        }
        strong.page {
            font-weight: 600;
        }
    }
    .blog-index-index.page-layout-2columns-left,
    .blog-index-view.page-layout-2columns-left,
    .blog-tag-view.page-layout-2columns-left {
        .sidebar-additional {
            margin-bottom: 50px;
            max-width: 25%;
            width: 25%;
        }
        .column.main {
            max-width: 75%;
            padding-left: 35px;
            width: 75%;
        }
    }
    .blog-index-index,
    .blog-index-view,
    .blog-tag-view {
        .sidebar-additional {
            .col-xs-12 {
                display: flex;
                flex-wrap: wrap;
                .tags-list {
                    margin-bottom: 10px;
                }
            }
            .data.item.title,
            .block-mp-sidebar-heading {
                color: @primary__color;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 48px;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .tags-list {
                border: 1px solid @color-tag-border;
                color: @color-gray-light;
                font-weight: 600;
                margin-right: 10px;
                padding: 10px 20px;
                position: relative;
                text-decoration: none;
                text-transform: capitalize;
                &:hover {
                    color: @tertiary__color;
                }
                &:before {
                    -webkit-transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    -webkit-transition-duration: .5s;
                    -webkit-transition-property: transform;
                    -webkit-transition-timing-function: ease-out;
                    background: @primary__color;
                    bottom: 0;
                    content: '';
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    transition-duration: .5s;
                    transition-property: transform;
                    transition-timing-function: ease-out;
                    z-index: -1;
                }
                &:hover {
                    &:before {
                        -webkit-transform: scaleX(1);
                        -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
                        transform: scaleX(1);
                        transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
                    }
                }
            }
        }
        .list-post-tabs {
            align-items: center;
            border-bottom: 1px solid @border__color;
            display: flex;
            margin-bottom: 20px;
            padding-bottom: 20px;
            .create-at {
                color: @color-gray-light;
                display: block;
                font-size: 13px;
                font-weight: 300;
            }
        }
        .post-left {
            display: block;
            max-width: 100px;
        }
        .post-right {
            a {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 5px;
                text-decoration: none;
                word-break: break-word;
            }
        }
        .post-right {
            padding-left: 20px;
        }
    }
    .blog-index-index,
    .blog-tag-view {
        .order-products-toolbar {
            margin-bottom: 30px;
            .toolbar-amount {
                padding-left: 0;
            }
            .pager,
            .limiter {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            .limiter-options {
                border: 1px solid @border__color;
                height: 48px;
                line-height: 32px;
                line-height: 38px;
                margin: 0 10px;
                padding-bottom: 0;
                padding-top: 0;
            }
            .toolbar-number {
                color: @color-gray;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        .blog-content {
            align-items: center;
            border-bottom: 1px solid @border__color;
            display: flex;
            margin-bottom: 45px;
            padding-bottom: 45px;
        }
        .blog-image {
            margin-right: 50px;
            width: 50%;
        }
        .blog-description {
            flex: 1;
            .read-more-btn {
                color: @tertiary__color;
                display: inline-block;
                font-size: 12px;
                letter-spacing: .5px;
                line-height: 48px;
                margin-top: 10px;
                padding: 0 30px;
                text-decoration: none;
                text-transform: uppercase;
                width: auto;
            }
        }
        .blog-title {
            h2 {
                margin-bottom: 10px;
                margin-top: 0;
            }
            a {
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 40px;
                text-decoration: none;
                word-break: break-word;
            }
        }
        .blog-plublish-date {
            color: @primary__color;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            span {
                display: block;
                letter-spacing: 1px;
                margin-bottom: 5px;
            }
            span:first-child {
                color: @color-gray-light;
                font-weight: 300;
            }
        }
        .blog-short-content {
            p {
                color: @color-gray-light;
                font-size: 15px;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 22px;
                margin-top: 15px;
            }
        }
    }
    .blog-index-view {
        .blog-image {
            img {
                display: block;
                max-height: 500px;
                object-fit: cover;
            }
        }
        .blog-content {
            p {
                color: @color-gray-light;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 22px;
                margin-bottom: 10px;
                margin-top: 20px;
            }
            h2 {
                color: @primary__color;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 40px;
                margin-bottom: 35px;
                margin-top: 35px;
            }
            h3 {
                color: @color-gray-light;
                letter-spacing: 1px;
                line-height: 24px;
            }
            h4 {
                color: @color-gray-light;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 20px;
            }
            figcaption {
                color: @color-gray-light;
                font-size: 13px;
                letter-spacing: 1px;
            }
            th {
                letter-spacing: 1px;
            }
            td {
                letter-spacing: 1px;
                padding-left: 0;
                padding-right: 5px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    body.blog-index-index,
    body.blog-tag-view {
        .blog-description {
            .read-more-btn {
                height: 40px;
                line-height: 40px;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ml) {
    body.blog-index-index.page-layout-2columns-left,
    body.blog-index-view.page-layout-2columns-left,
    body.blog-tag-view.page-layout-2columns-left {
        .columns {
            display: flex;
        }
        .sidebar-additional {
            max-width: 100%;
            width: 100%;
        }
        .column.main {
            max-width: 100%;
            padding-left: 0;
            width: 100%;
        }
    }
    body.blog-index-index,
    body.blog-tag-view {
        .blog-image {
            margin-right: 30px;
        }
        .blog-description {
            width: 100%;
        }
    }
    body.blog-index-index,
    body.blog-index-view,
    body.blog-tag-view {
        .sidebar-additional {
            .data.item.title,
            .block-mp-sidebar-heading {
                margin-bottom: 15px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body.blog-index-index,
    body.blog-tag-view {
        .blog-content {
            flex-direction: column;
            margin-bottom: 25px;
            padding-bottom: 25px;
        }
        .blog-image {
            margin-right: 0;
            max-width: 100%;
            width: 100%;
        }
        .blog-description {
            margin-top: 20px;
        }
        .blog-title a {
            font-size: 24px;
            line-height: 34px;
        }
        .order-products-toolbar .limiter-options {
            height: 32px;
            line-height: 32px;
            padding-right: 18px;
        }
    }
    body.blog-index-index,
    body.blog-index-view,
    body.blog-tag-view {
        .sidebar-additional .data.item.title {
            margin-bottom: 15px;
        }
    }
    body.blog-index-view {
        .blog-content {
            h2 {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar {
        .pages {
            .pages-items {
                display: flex;
                padding: 0;
                li {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .action {
                border: 1px solid @border__color;
                margin-left: 0;
                margin-right: 0;
            }
            a.page {
                padding: 0;
            }
            strong.page {
                padding: 0;
            }
            li.item {
                position: static;
            }
            li {
                display: block;
                margin: 0 8px;
            }
        }
    }
}
