& when (@media-common = true) {
    .faq-index-index {
        .page-title-wrapper {
            display: none;
        }
    }
    .faq-index-index .page-main {
        margin-top: 40px;
    }
    .blog-wrapper-container .blog-holder .blog-items .owl-stage .owl-item .item .article-thumbnail .blog-list {
        min-height: 20px;
    }
    body .blog-wrapper-container .blog-holder .blog-items .owl-stage .owl-item .item .article-thumbnail .blog-list a {
        margin-left: 0;
    }
    .blog-wrapper-container .blog-holder .blog-items .owl-stage .owl-item .item .article-thumbnail .blog-excerpt {
        min-height: 70px;
    }
    .blog-wrapper-container .blog-holder .blog-items .owl-stage .owl-item .item .article-thumbnail .img-inner {
        height: 0;
        overflow: hidden;
        padding-top: 63%;
        position: relative;
    }
    .blog-wrapper-container .blog-holder .blog-items .owl-stage .owl-item .item .article-thumbnail .img-inner img {
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .faq-list {
        padding: 14px 0;
        .faq-answers,
        .faq-questions .faq-title {
            &:before {
                display: block;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: .02em;
                line-height: 46px;
                min-height: 46px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                width: 46px;
            }
        }
        .faq-answers {
            padding-bottom: 20px;
            padding-top: 35px;
            position: relative;
            p {
                align-items: center;
                color: @color-x9d9d9d;
                display: flex;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                padding-left: 80px;
            }
            &:before {
                border: 2px solid @theme__color__secondary;
                color: @theme__color__secondary;
                content: 'A';
                left: 0;
            }
        }
        .faq-questions {
            cursor: pointer;
            position: relative;
            .faq-title {
                border-bottom: 1px solid @color-black;
                box-sizing: border-box;
                font-size: 18px;
                letter-spacing: .5px;
                line-height: 46px;
                margin: 0;
                padding-bottom: 0;
                padding-left: 80px;
                position: relative;
                &:before {
                    background: @color-black;
                    color: @color-white;
                    content: 'Q';
                    left: 0;
                    top: 0;
                }
            }
            &:after,
            &:before {
                background: @color-black;
                content: '';
                height: 2px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: ~'translateY(-50%)';
                transition: 150ms all ease-out;
                width: 20px;
            }
            &:after {
                transform: ~'rotate(90deg)';
            }
        }
    }
    .faq-list.show .faq-questions {
        &:after {
            transform: none;
        }
    }
}
