<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Template\Filter">
        <plugin name="forever_new_arrival_placeholder" type="Forever\Core\Plugin\Cms\NewArrivalPlaceholder"/>
    </type>
</config>
