//  /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        max-width: 100%;
        .title {
            display: none;
        }
        .form.subscribe {
            .field.newsletter {
                max-width: 100%;
                padding-right: 20px;
                width: 70%;
                .control {
                    .lib-icon-font(@icon-envelope, @_icon-font-size: 16px, @_icon-font-line-height: 32px, @_icon-font-color: @form-element-input-placeholder__color, @_icon-font-margin: 0 0 0 8px);
                    &:before {
                        display: none;
                        top: 8px;
                    }
                }
                input {
                    border-radius: 4px;
                    font-size: 16px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                }
            }
        }
        .label {
            &:extend(.abs-visually-hidden all);
        }
        .actions {
            width: 30%;
        }
        .action.subscribe {
            border-radius: 0 4px 4px 0;
            font-size: 16px;
            font-weight: 700;
            height: 50px;
            letter-spacing: 1px;
            margin-left: -1px;
            text-transform: uppercase;
            white-space: nowrap;
            &:hover {
                border: 1px solid @secondary__color;
                color: @secondary__color;
            }
        }
    }
    .modal-popup.popup-newsletter {
        .modal-content {
            padding-bottom: 30px;
            padding-top: 30px;
        }
        .modal-header {
            h1 {
                display: none;
            }
        }
        .modal-footer {
            display: none;
        }
        .popup-icon {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' viewBox='0 0 345.834 345.834' fill='rgb(223, 163, 74)' style='enable-background:new 0 0 345.834 345.834;' xml:space='preserve'%3e%3cpath d='M339.798,260.429c0.13-.026,.257-.061,.385-.094c0.109-.028,.219-.051,.326-.084 c0.125-.038,.247-.085,.369-.129c0.108-.039,.217-.074,.324-.119c0.115-.048,.226-.104,.338-.157 c0.109-.052,.22-.1,.327-.158c0.107-.057,.208-.122,.312-.184c0.107-.064,.215-.124,.319-.194 c0.111-.074,.214-.156,.321-.236c0.09-.067,.182-.13,.27-.202c0.162-.133,.316-.275,.466-.421 c0.027-.026,.056-.048,.083-.075c0.028-.028,.052-.059,.079-.088c0.144-.148,.284-.3,.416-.46 c0.077-.094,.144-.192,.216-.289c0.074-.1,.152-.197,.221-.301c0.074-.111,.139-.226,.207-.34 c0.057-.096,.118-.19,.171-.289c0.062-.115,.114-.234,.169-.351c0.049-.104,.101-.207,.146-.314 c0.048-.115,.086-.232,.128-.349c0.041-.114,.085-.227,.12-.343c0.036-.118,.062-.238,.092-.358 c0.029-.118,.063-.234,.086-.353c0.028-.141,.045-.283,.065-.425c0.014-.1,.033-.199,.043-.3 c0.025-.249,.038-.498,.038-.748V92.76c0-4.143-3.357-7.5-7.5-7.5h-236.25c-.066,0-.13,.008-.196,.01 c-.143,.004-.285,.01-.427,.022c-.113,.009-.225,.022-.337,.037c-.128,.016-.255,.035-.382,.058 c-.119,.021-.237,.046-.354,.073c-.119,.028-.238,.058-.356,.092c-.117,.033-.232,.069-.346,.107 c-.117,.04-.234,.082-.349,.128c-.109,.043-.216,.087-.322,.135c-.118,.053-.235,.11-.351,.169 c-.099,.051-.196,.103-.292,.158c-.116,.066-.23,.136-.343,.208c-.093,.06-.184,.122-.274,.185 c-.106,.075-.211,.153-.314,.235c-.094,.075-.186,.152-.277,.231c-.09,.079-.179,.158-.266,.242 c-.099,.095-.194,.194-.288,.294c-.047,.05-.097,.094-.142,.145c-.027,.03-.048,.063-.074,.093 c-.094,.109-.182,.223-.27,.338c-.064,.084-.13,.168-.19,.254c-.078,.112-.15,.227-.222,.343 c-.059,.095-.12,.189-.174,.286c-.063,.112-.118,.227-.175,.342c-.052,.105-.106,.21-.153,.317 c-.049,.113-.092,.23-.135,.345c-.043,.113-.087,.225-.124,.339c-.037,.115-.067,.232-.099,.349 c-.032,.12-.066,.239-.093,.36c-.025,.113-.042,.228-.062,.342c-.022,.13-.044,.26-.06,.39 c-.013,.108-.019,.218-.027,.328c-.01,.14-.019,.28-.021,.421c-.001,.041-.006,.081-.006,.122v46.252 c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5v-29.595l66.681,59.037c-.348,.245-.683,.516-.995,.827l-65.687,65.687v-49.288 c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v9.164h-38.75c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h38.75v43.231 c0,4.143,3.357,7.5,7.5,7.5h236.25c0.247,0,.494-.013,.74-.037c0.115-.011,.226-.033,.339-.049 C339.542,260.469,339.67,260.454,339.798,260.429z M330.834,234.967l-65.688-65.687c-.042-.042-.087-.077-.13-.117 l49.383-41.897c3.158-2.68,3.546-7.412,.866-10.571c-2.678-3.157-7.41-3.547-10.571-.866l-84.381,71.59l-98.444-87.158h208.965 V234.967z M185.878,179.888c0.535-.535,.969-1.131,1.308-1.765l28.051,24.835c1.418,1.255,3.194,1.885,4.972,1.885 c1.726,0,3.451-.593,4.853-1.781l28.587-24.254c0.26,.38,.553,.743,.89,1.08l65.687,65.687H120.191L185.878,179.888z'/%3e%3cpath d='M7.5,170.676h126.667c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5H7.5c-4.143,0-7.5,3.357-7.5,7.5 S3.357,170.676,7.5,170.676z'/%3e%3cpath d='M20.625,129.345H77.5c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5H20.625c-4.143,0-7.5,3.357-7.5,7.5 S16.482,129.345,20.625,129.345z'/%3e%3cpath d='M62.5,226.51h-55c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h55c4.143,0,7.5-3.357,7.5-7.5S66.643,226.51,62.5,226.51z' /%3e%3c/svg%3e");
            background-repeat: no-repeat;
            height: 70px;
            margin: 0 auto;
            width: 70px;
        }
        .popup-title,
        .popup-desc {
            text-align: center;
        }
        .popup-title {
            margin-bottom: 30px;
            h2 {
                font-size: 35px;
                line-height: 50px;
                margin-bottom: 10px;
                margin-top: 0;
            }
            span {
                color: @color-x5d5d5d;
                font-size: 16px;
                font-weigh: 400;
                line-height: 16px;
            }
        }
        .popup-desc {
            color: @color-x5d5d5d;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 30px;
        }
        .block.newsletter {
            .field.newsletter {
                max-width: 100%;
                padding-right: 0;
                width: 100%;
                input {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
        .actions {
            margin-top: 25px;
            max-width: 100%;
            text-align: center;
            width: 100%;
        }
        .form.subscribe {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .action.subscribe {
            border: 0;
            height: 40px;
            line-height: 40px;
            width: 150px;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-popup.popup-newsletter {
        .modal-inner-wrap {
            background-image: url(../images/newsletter-bg.jpg);
            background-position-y: 60%;
            background-repeat: no-repeat;
            background-size: cover;
            left: 50%;
            margin: 0;
            max-height: 100%;
            max-width: 930px;
            padding: 20px;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 80%;
        }
        #newsletter-validate-detail-modal {
            display: block;
            margin-left: auto;
            max-width: 340px;
            width: 50%;
        }
        .modal-content {
            background-color: rgba(0,0,0,.05);
            border: 2px solid @color-white;
            max-width: 100%;
            z-index: 9;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block {
        &.newsletter {
            input {
                padding-left: 30px;
            }
        }
    }
    .modal-popup.popup-newsletter {
        .modal-content {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
        }
        .action-close {
            right: 10px;
            top: 10px;
        }
        .popup-title {
            h2 {
                font-size: 28px;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ml) {
    .modal-popup.popup-newsletter {
        .block.newsletter .actions {
            width: 100%;
        }
        .popup-title {
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
            span {
                font-size: 15px;
            }
        }
        .popup-desc {
            font-size: 15px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block.newsletter .action.subscribe {
        background-image: url(../images/svg/074-compass.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        font-size: 0;
        width: 100%;
    }
    .block.newsletter .form.subscribe .field.newsletter {
        width: 85%;
    }
    .block.newsletter .actions {
        width: 15%;
    }
    .footer-two.footer-container--inner {
        .block.newsletter .action.subscribe {
            background-position: right;
            background-size: 100%;
            position: absolute;
            right: 24px;
            width: 20px;
        }
        .block.newsletter .field.newsletter {
            width: 100%;
        }
        .actions {
            right: 10px;
        }
    }
    .modal-popup.popup-newsletter {
        .block.newsletter .form.subscribe .field.newsletter {
            width: 100%;
        }
        .action.subscribe {
            background-image: none;
            font-size: 14px;
            width: 150px;
        }
    }
}
