& when (@media-common = true) {
    .footer-four.footer-container--inner .footer-container--top {
        background: @color-xe7e7e7;
        padding: 27px 0;
    }
    .footer-four {
        .footer-bottom {
            background: @color-x0d1012;
            padding: 17px 0;
            .social-icon a {
                margin-right: 15px;
                i {
                    color: @color-gray60;
                    font-size: 17px;
                    margin: 0;
                    vertical-align: 0;
                }
            }
            address {
                color: @color-xaaa9aa;
                margin-right: 7px;
                padding: 9px 0;
            }
            ul.payment_icon li a {
                display: inline-block;
                font-size: 0;
                height: 22px;
                padding: 0;
                position: relative;
                vertical-align: middle;
                width: 34px;
                &:before {
                    color: @color-xb3b3b3;
                    font-family: 'FontAwesome';
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            ul {
                margin-bottom: 0;
                padding-left: 0;
            }
            .payment_icon {
                padding-left: 10px;
            }
            li {
                display: inline;
                margin-bottom: 0;
            }
            .maestro a:before {
                content: '\f1f2';
            }
            .mastercard a:before {
                content: '\f1f1';
            }
            .paypal a:before {
                content: '\f1f4';
            }
            .visa a:before {
                content: '\f1f0';
            }
        }
        .footer-bottom-right {
            align-items: center;
            display: flex;
        }
        .footer_bottom_inner {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1280px;
            padding: 0 20px;
        }
        .footer-percent {
            .icon {
                -moz-transition: ~'all 300ms ease 0s';
                -ms-transition: ~'all 300ms ease 0s';
                -o-transition: ~'all 300ms ease 0s';
                -webkit-transition: ~'all 300ms ease 0s';
                display: inline-block;
                height: 30px;
                line-height: 30px;
                margin: 0 15px 10px 0;
                padding: 0;
                position: relative;
                transition: ~'all 300ms ease 0s';
                width: 30px;
                &:before {
                    border-bottom: 1px solid @color-x878787;
                    bottom: -12px;
                    content: '';
                    display: block;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    width: 30px;
                }
                i {
                    -moz-transition: 500ms;
                    -ms-transition: 500ms;
                    -o-transition: 500ms;
                    -webkit-transition: 500ms;
                    color: ~'hsl(0, 0%, 53%)';
                    display: inline-block;
                    font-size: 23px;
                    transition: 500ms;
                    width: 23px;
                }
            }
            .footer-percent-inner:hover {
                .icon i {
                    -moz-transform: ~'translate(0, -10px)';
                    -ms-transform: ~'translate(0, -10px)';
                    -o-transform: ~'translate(0, -10px)';
                    -webkit-transform: ~'translate(0, -10px)';
                    transform: ~'translate(0, -10px)';
                }
            }
        }
        #block_4 .fa {
            color: @color-x878787;
            font-size: 17px;
            margin-right: 11px;
            margin-top: 3px;
        }
        #block_4 li > div {
            display: flex;
        }
        .footer-percent-inner {
            box-sizing: border-box;
            display: flex;
        }
        .footer_inner1 .inner-container {
            border-bottom: 1px solid @color-x2a2e31;
        }
        .footer-middle {
            background: @color-x161b1e;
            .service-text,
            h6 {
                color: @color-white;
                display: inline-block;
                font-size: 17px;
                font-weight: 700;
            }
            .description,
            li,
            a {
                color: @color-gray80;
                line-height: 22px;
            }
            a {
                text-decoration: none;
            }
            .service-text {
                margin: 2px 0;
            }
            h6 {
                margin: 0 0 31px;
            }
            .footer_inner2 li {
                margin-bottom: 0;
                padding: 2px 0;
            }
        }
        .footer_inner1,
        .footer_inner2 {
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 1280px;
            padding: 0 20px;
        }
        .footer_inner1 {
            .inner-container {
                display: flex;
            }
        }
        .footer_inner2 {
            display: flex;
            ul {
                list-style-type: none;
                margin-bottom: 0;
                padding-left: 0;
            }
        }
        .footer-top-inner {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            margin: 0 auto;
            max-width: 1280px;
            padding: 0 20px;
        }
        .footer_right_newsletter {
            box-sizing: border-box;
        }
        .newsletter-title {
            border-right: 1px solid @color-xbebebe;
            box-sizing: border-box;
            padding-right: 40px;
            h1 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .news-text {
            box-sizing: border-box;
            font-size: 14px;
            padding-left: 40px;
            width: 52%;
            word-break: break-word;
        }
        .news_inner_content {
            align-items: center;
            display: flex;
        }
        .block.newsletter {
            .action.subscribe {
                background: @color-black;
                border-color: @color-black;
                border-radius: 0;
                font-size: 0;
                height: 45px;
                padding: 0;
                position: relative;
                width: 45px;
                &:after {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cpath style='fill:%23fff;' d='M511.746,252.725c-.061-.427-.11-.852-.194-1.275c-.076-.382-.18-.749-.275-1.125 c-.092-.362-.171-.726-.279-1.085c-.112-.369-.251-.726-.38-1.089c-.127-.354-.244-.711-.388-1.06 c-.143-.34-.307-.666-.464-.998c-.168-.355-.327-.715-.514-1.064c-.171-.321-.366-.624-.552-.936 c-.203-.34-.394-.684-.616-1.015c-.234-.351-.493-.68-.745-1.015c-.205-.272-.393-.549-.608-.815 c-.489-.594-1.002-1.167-1.548-1.71l-116.36-116.363c-9.086-9.089-23.822-9.089-32.912,0c-9.089,9.089-9.089,23.824,0,32.912 l76.634,76.639H23.273C10.42,232.729,0,243.149,0,256.002c0,12.853,10.42,23.273,23.273,23.273h409.272l-76.636,76.634 c-9.089,9.089-9.089,23.824,0,32.913c4.544,4.544,10.501,6.817,16.457,6.817c5.956,0,11.913-2.271,16.455-6.817l116.36-116.36 c0.546-.543,1.06-1.116,1.548-1.711c0.216-.264,.403-.543,.608-.813c0.251-.335,.51-.664,.745-1.015 c0.223-.33,.414-.675,.616-1.015c0.186-.312,.382-.614,.552-.936c0.186-.351,.346-.709,.514-1.066 c0.157-.332,.321-.658,.464-.998c0.144-.349,.261-.706,.388-1.06c0.129-.362,.268-.718,.38-1.089 c0.107-.358,.188-.721,.279-1.085c0.095-.374,.199-.743,.275-1.125c0.084-.422,.133-.849,.194-1.275 c0.047-.326,.109-.647,.143-.976c0.15-1.53,.15-3.07,0-4.6C511.854,253.372,511.792,253.051,511.746,252.725z'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-size: 17px;
                    content: '';
                    height: 16px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 16px;
                }
            }
            .actions {
                width: auto;
            }
            .form.subscribe .field.newsletter {
                padding-right: 10px;
                width: 100%;
                input {
                    border-radius: 0;
                    color: @color-black;
                    font-size: 14px;
                    height: 45px;
                    line-height: 45px;
                    padding-left: 70px;
                }
                .control {
                    position: relative;
                    &:after {
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' viewBox='0 0 330.001 330.001' style='enable-background:new 0 0 330.001 330.001;' xml:space='preserve'%3e%3cpath id='XMLID_350_' d='M173.871,177.097c-2.641,1.936-5.756,2.903-8.87,2.903c-3.116,0-6.23-.967-8.871-2.903L30,84.602 L0.001,62.603L0,275.001c0.001,8.284,6.716,15,15,15L315.001,290c8.285,0,15-6.716,15-14.999V62.602l-30.001,22L173.871,177.097z' /%3e%3cpolygon id='XMLID_351_' points='165.001,146.4 310.087,40.001 19.911,40 '/%3e%3c/svg%3e");
                        background-repeat: no-repeat;
                        background-size: 17px;
                        border-right: 1px solid @color-xbebebe;
                        content: '';
                        height: 16px;
                        left: 20px;
                        padding-right: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 16px;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    div.footer-four {
        .footer_left_newsletter {
            flex: 0 0 45%;
            max-width: 45%;
        }
        .footer_right_newsletter {
            flex: 0 0 55%;
            max-width: 55%;
            padding-left: 20px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .footer-four {
        .footer-percent4,
        #block_4 {
            background: @color-x2a2e31;
        }
        .footer-percent,
        .footer-area {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .footer-percent-inner {
            padding: 67px 0 48px;
        }
        .footer-percent4 .footer-percent-inner {
            padding: 67px 30px 48px;
        }
        .footer-area {
            box-sizing: border-box;
            padding: 50px 0 60px;
        }
        #block_4 {
            padding: 50px 30px 60px;
        }
        .footer-middle h6 {
            position: relative;
            &:before {
                border-bottom: 1px solid @color-x878787;
                bottom: -19px;
                content: '';
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                text-align: left;
                width: 30px;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ml) {
    div.footer-four {
        .footer_bottom_inner,
        .footer-bottom-right {
            flex-direction: column;
        }
        .footer-bottom {
            address {
                margin-right: 0;
                text-align: center;
            }
            .payment_icon {
                padding-left: 0;
            }
        }
        .newsletter-title {
            padding-right: 20px;
        }
        .news-text {
            padding-left: 20px;
        }
        .footer-percent-inner {
            padding: 56px 0 0;
        }
        .footer_inner1 {
            .inner-container {
                flex-wrap: wrap;
                padding-bottom: 30px;
            }
        }
        .footer-percent {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .footer-area {
            flex: 0 0 100%;
            max-width: 100%;
            ul {
                display: none;
            }
        }
        .footer_inner2 {
            flex-wrap: wrap;
            padding-bottom: 36px;
            padding-top: 26px;
            ul {
                margin-bottom: 15px;
            }
        }
        .footer-middle-content {
            margin: 0 auto;
            max-width: 100%;
            width: 724px;
        }
        .footer-middle h6 {
            display: block;
            margin-bottom: 15px;
            position: relative;
            &:after {
                -ms-transition: ~'-ms-transform .8s ease-in-out';
                -webkit-transform: ~'rotate(135deg)';
                -webkit-transition: ~'-webkit-transform .8s ease-in-out';
                border: 2px solid @color-white;
                border-right: 0;
                border-top: 0;
                content: '';
                display: inline-block;
                padding: 2.5px;
                position: absolute;
                right: 0;
                top: 5px;
                transform: ~'rotate(135deg)';
                transition: ~'transform .8s ease-in-out';
            }
        }
        .footer-middle h6.active:after {
            -webkit-transform: ~'rotate(-45deg)';
            border: 2px solid @color-white;
            border-right: 0;
            border-top: 0;
            transform: ~'rotate(-45deg)';
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    div.footer-four {
        .footer_bottom_inner {
            padding-bottom: 55px;
        }
        .footer-middle-content {
            width: auto;
        }
        .footer-top-inner {
            flex-direction: column;
        }
        .footer_right_newsletter {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            max-width: 370px;
            width: 100%;
        }
        .newsletter-title {
            padding-right: 10px;
        }
        .news-text {
            padding-left: 10px;
        }
        .news_inner_content {
            justify-content: center;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    div.footer-four {
        .footer-percent {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .footer-percent-inner {
            padding: 30px 0 0;
        }
        .news_inner_content {
            flex-direction: column;
        }
        .news-text {
            padding: 0;
            width: 100%;
        }
        .newsletter-title {
            border: none;
            margin-bottom: 10px;
            padding: 0;
        }
    }
}
